.sidebar {
  max-width: 270px;
  background-color: #fdf9ff;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  border: 1px solid #e8dfec;
  padding: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -270px;
  }
  .sidebar.open {
    left: 0px;
  }
}

.sidebar .logo a {
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: #302e4d;
  padding: 0 10px;
  position: relative;
  line-height: 50px;
  text-transform: capitalize;
}

.sidebar .logo a::before,
.sidebar .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
}

.sidebar .logo a::before {
  top: 0;
  left: 0;
  border-top: 4px solid #ec1839;
  border-left: 4px solid #ec1839;
}

.sidebar .logo a::after {
  bottom: 0;
  right: 0;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 4px solid #ec1839;
  border-right: 4px solid #ec1839;
}

.sidebar .nav-toggle {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: 1px solid #d4d4e3;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 300px;
  z-index: 11;
  background-color: #fdf9ff;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sidebar .nav-toggle.open {
  left: 222px;
}

@media (max-width: 1199px) {
  .sidebar .nav-toggle {
    display: flex;
    display: -ms-flexbox;
    left: 30px;
  }

  .sidebar .nav-toggle.open {
    left: 222px;
  }
}

.sidebar .nav-toggle span {
  height: 2px;
  width: 18px;
  display: inline-block;
  position: relative;
  background-color: #ec1839;
}

.sidebar .nav-toggle.open span {
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .nav-toggle span::before,
.sidebar .nav-toggle span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 2px;
  width: 18px;
  background-color: #ec1839;
}

.sidebar .nav-toggle span::before {
  top: -6px;
}

.sidebar .nav-toggle span::after {
  top: 6px;
}

.sidebar .nav-toggle.open span::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar .nav-toggle.open span::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.nav {
  margin: 80px 0;
  padding: 0;
  list-style-type: none;
}

.nav > li:not(:last-of-type) {
  border-bottom: 1px solid #e8dfec;
}

.nav li .navLinkLink {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  line-height: 45px;
  font-weight: 600;
  color: #302e4d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav li .navLinkLink.active {
  color: #ec1839;
}

.nav li .navLinkLink:hover {
  color: #ec1839;
}

.nav li .navLinkLink:not(.active):hover {
  padding-left: 5px;
}

.nav li .navLinkLink svg {
  margin-right: 10px;
}

.copyright {
  font-size: 0.8rem;
  color: #7d7d7d;
}
