.title {
  margin-bottom: 40px;
}

.title h2 {
  font-size: 40px;
  color: #302e4d;
  text-transform: capitalize;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  position: relative;
}

.title h2::before,
.title h2::after {
  content: "";
  height: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ec1839;
}

.title h2::before {
  width: 50px;
}

.title h2::after {
  width: 25px;
  margin-top: 8px;
}
