.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .intro {
  text-align: center;
}

.home .intro .my-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 8px solid #fff;
  max-width: 100%;
}

.home .intro h2 {
  text-transform: capitalize;
  font-size: 1.9rem;
  color: #302e4d;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin: 20px 0 5px;
}

.home .intro p {
  color: #504e70;
  font-weight: 500;
  margin: 20px 0 5px;
  line-height: 22px;
}

.home .intro .social_icons {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .intro .social_icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  background-color: #ec1839;
  color: #fff;
  margin: 0 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home .intro .social_icons a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
